@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <div class="col">
        <h2>Storage Values:</h2>
        <ul id="Content">
            <li>Waiting for results ...</li>
        </ul>
    </div>
</div>